@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
}
%displayflex  {
    display: flex;
    align-items: center;
    justify-content: center;
}



// Body{
//     height: 100vh;
// }

header{
    background-color: rgb(241, 239, 239);
    margin-bottom: 20px;
    nav{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px;
        .logo_text_header{
            @extend %displayflex ; 
            width: 50% ; 
            .logo_network {
                width: 30% ; 
                padding: 10px;
                display: flex;
                justify-content: center;
                img {
                    width: 50% ;
                }
            }
            .nom_header{
                width: 70%;
                h1{
                    font-size : 1.5rem; 
                    font-weight: 800 ; 
                    text-transform: capitalize; 
                }
            }
        }
        & ul {
            @extend %displayflex; 
            width: 50% ; 
            li {
                padding: 10px;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }

    }
   

    
}



#section_centrale{

    height: 90vh;

    display: flex;
    justify-content: center;
    & > div{
        // height: 100%;
        
        border-radius: 2em;
        background-color: rgb(248, 242, 242);
        padding: 20px; 
        margin: 0px 10px; 

    }
    & #div1{
        position: sticky;
        top: 0;
        width: 20%; 
        & #contenu_div1{
            position: sticky; 
            top: 0 ; 
            padding: 20px 0px ; 
        }
        & .users {
            @extend %displayflex; 
            width: 100%;
            background-color: rgb(236, 232, 232);
            margin: 10px 0px;
            border-radius: 1em;
            & img {
                display: block;
                width: 50%;
                padding: 30px;
                object-fit: cover;
               
            }
            & p {
                width: 70%;
                display: flex;
                align-items: center;
            }
        }
    }
    & #div2{
        background-color: rgb(245, 243, 243);
        width: 45% ; 
        .post{
            margin : 15px 0px; 
            padding: 20px;
            border-radius: 2em;
            background-color: white;
            .post_image{
                display: flex;
                align-items: center;
                & > div {
                    padding: 20px;
                }
                .photo_profil{
                    width: 30% ; 
                }
                .pseudo_user{
                    width: 70% ; 
                    & + p {
                        font-weight: 800;
                    }
                }
            }
            .description_post{
                padding: 20px;
            }
            .image_post{
                padding: 20px;
                img{
                    border-radius: 1em;
                }
                .galerie{
                    display: flex;
                    align-items: center;
                    div {
                        width: 50%;
                        margin-top: 10px; 
                    }
                    & :nth-child(1) {
                        margin-right: 5px;
                    }
                    & :nth-child(2){
                        margin-left: 5px; 
                    }
                }
            }
            .like_post{
                display: flex;
                align-items: center;
                padding: 10px;

                & i {
                    cursor: pointer;
                    transition: .2s;
                    display: inline-block;
                    color: rgb(250, 95, 90);
                    &:hover{
                        transform: scale(1.2);
                    }
                }

                & > * {
                    padding: 10px;
                }

            }
            .comment_post{
                .comment {
                    display: flex;
                    align-items: center;

                    & #img_comment
                    {
                        width: 10%;
                        margin: 20px;
                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    } 
                    & #description_comment {
                        width: 80%; 
                        padding: 15px;
                        font-size: 0.8em;
                        background-color: rgb(230, 230, 230);
                    
                    }

                }
            }
            #link_autres_comment {
                text-align: center;
                color: rgb(250, 95, 90);
                text-decoration: underline;
                font-size: 0.8em;
                cursor: pointer; 
                padding: 10px;
            }
            #form_comment {
                display: flex;
                align-items: center;
                .img_form_comment {
                    width: 10%; 
                    margin: 20px;
                    img{
                        width: 100% ; 
                    }
                }
              
                .input_form_comment {
                    width : 80%; 
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    textarea {
                        width: 70% ; 
                        border-radius: 2em;
                        background-color: rgb(228, 228, 228);
                        border: none;
                        padding: 10px;
                        &::placeholder{
                            color: black; 
                            padding: 5px;
                        }
                    }
                    input{
                        width : 30%;
                        margin: 10px;
                        background-color: rgb(250, 95, 90); 
                        padding: 10px;
                        text-transform: uppercase;
                        color: white;
                        font-size: 0.7em;
                        border: none;
                        border-radius: 2em;
                        cursor: pointer;
                        transition: .3s;
                        &:hover {
                            color :rgb(250, 95, 90);
                            background-color: transparent;
                            border : 1px solid rgb(250, 95, 90) ;
                        }
                    }
                }
                

            }
        }
    }
    & #div3{
        background-color: rgb(245, 243, 243);
        width: 20% ;
        #contenu_div3 {
            position: sticky; 
            top: 0; 
            padding: 20px 0px ; 
        }
        #pres_user_connect{
            @extend %displayflex; 
            .img_user_connect{
                img{
                    width: 100%;
                }

            }
            .infos_user_connecte{
                padding: 20px 10px;
                & p{
                    padding: 2px;
                }
                & :nth-child(1) {
                    font-weight: 700;
                }
                & :nth-child(2){
                    font-size: small;
                    color: rgba(0, 0, 0, 0.527);
                }

            }

        }
        h2 {
            padding: 10px 0px;
            font-weight: 800;
        }
        #menu {
            li{
                padding: 10px;
                background-color: rgb(255, 255, 255);
                margin: 10px 0px ; 
                i{
                    margin-right: 10px;
                }
                a{
                    color: rgb(250, 95, 90);
                    text-decoration: none;
                }
            }
        }
        #conv{
            & > div {
                display: flex; 
                background-color: rgba(0, 0, 0, 0.096);
                margin : 10px 0px ; 
                div {
                    width:  50% ;
                    margin: auto; 
                    img{
                        width: 100% ; 
                        padding: 30px;
                    }
                }
            }
        }
    }



}

.p_liste_user{
    text-transform: capitalize;
    padding: 5px;
    font-weight: 700;
    &::before{
        content: "";
        background-color: rgb(100, 102, 101);
        border-radius: 2em;
        // color: green;
        width: 13px;
        height: 13px;
        display: block;
        transform: translateX(-43px) translateY(20px);

    }
}
.connecte{
    &::before{
        background-color: rgb(78, 238, 139);
    }
}

.bold{

    font-weight: 700;
    padding: 5px 0px;
    
}
.new_message{
border: 1px solid red;
}


// -----------------------------------page chat prive

#user_selection_chat{
    height: 50px;
    background-color: aquamarine;
}
#conteneur_des_messages{
    height: 90%;
    background-color: bisque;
}
#intput_chat_et_button{
    width: 100%;
    & input{
        width: 80%;
    }
}
#div_like_button_creer_groupe{
    @extend %displayflex;
    height: 30px;
    border-radius: 20px;
    &:hover{
        cursor: pointer;
    }
}
#liste_user_pour_creer_groupe{
    
    display: none ;
    @extend %displayflex;
    flex-direction: column;
    padding: 8px;
    & .liste_pseudo_groupe{
        border: 1px solid grey;
        border-radius: 15px;
        margin: 5px;
        padding: 5px;
        width: 80%;
        text-align: center;
        &:hover{
            cursor: pointer;
        }
    }
}
.creer_groupe_green{
    background-color: #4EEE8B;
}
.auteur_message_moi{
    text-align: right;
    background-color: rgb(224, 224, 224);
}

// style barre post 

#new_post{
    background-color: rgba(0, 0, 0, 0);
    .contenu_new_post{
        width: 100% ; 
        .search_bar_post {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            input[type = "text"] {
                width: 60% ; 
                padding: 10px;
                border-radius: 2em;
                border: none;
                &::placeholder {
                    font-size: 1rem;
                }
            }
            button{
                width : 20% ;
                margin: 10px; 
                border-radius: 2em;
                padding: 10px;
                background-color: rgb(250, 95, 90);
                color: white;
                border: none;
            }
        }
        .choix_image {
            
            align-items: center;
            justify-content: center;
            i {
                padding: 10px;
                display: block;
                color: rgb(250, 95, 90);
                cursor: pointer;
            }
            input {
                display: none;
            }
            p{
                color: rgb(250, 95, 90);
                font-style: italic;
                font-size: 0.8rem;
            }
        }
    }

}