.msg_inscription {
    font-weight: 300;
    padding: 30px;
    margin: 20px 0px; 
    font-size: 1.5rem;
}
.success {
    color: green;
}
.error {
    color: red; 
}
#condition_mpd {
    color: red ; 
}

form{
    background-color: rgba(221, 218, 218, 0.534);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
    justify-content: center;
    padding: 20px;
    border-radius: 2em;
    -webkit-box-shadow: 50px 50px 0px -5px rgba(250, 95, 90, 0.63);
    -moz-box-shadow: 50px 50px 0px -5px rgb(250, 95, 90);
    box-shadow: 40px 40px 0px -5px rgba(209, 208, 208, 0.294);
    #condition_mpd{
        padding : 10px; 
    }
    button {
        background-color: rgb(250, 95, 90);
        border-radius: 2em;
        text-transform: uppercase;
        color: white;
        padding: 10px;
        border: none ; 
    }
    .form-group{
        padding: 10px ; 
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            width : 70% ; 
            padding: 8px;
            margin: 10px;
            border-radius: 2em;
            border: none;
        }
        label {
            width: 50%;
            padding: 5px;
            font-weight: 800;
            display: flex;
            align-items: center;
            &::before{
                content: "" ; 
                background-color: rgb(250, 95, 90);
                width : 10px ; 
                height: 10px ; 
                display: inline-block;
                margin: 0px 8px;
                border-radius: 2em;

            }
        }

    }
    ul {
        li{
            background-color: rgb(250, 95, 90);
            color: white;
            padding: 10px;
            border-radius: 2em;
            margin : 5px 0px ; 
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            i {
                padding: 2px;
                margin-left: 10px;
            }
        }
    }
    #btn_validate {
        border : 1px rgb(250, 95, 90) solid ;
        color: rgb(250, 95, 90);
        transition: .2s ;
        &:hover{
            background-color: rgb(250, 95, 90);
            color: white;
            cursor: pointer;
        }
    }
}

#register {
    display: flex;
    .section_formulaire_inscription{
        h1{
            font-size : 3rem ; 
            font-weight: 300;
            // font-style: italic;
            color: rgb(250, 95, 90);
            text-align: center;
            padding: 20px;
            margin: 10px 0px; 
        }
        width: 70% ;
    }
    #img{
        width : 30% ; 
        background-image: url("../img/inscription.jpg");
        background-size: cover;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
    }

}