@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

%displayflex  {
    display: flex;
    align-items: center;
    justify-content: center;
}

Body{
    height: 100vh;
}

header{
    @extend %displayflex;
    height: 100px;
    background-color: rgb(223, 223, 223);
    & nav{
        width: 80%;
    @extend %displayflex;
    justify-content: space-around !important;

    }
}



#section_centrale{

    height: 100%;

    @extend %displayflex;
    & div{
        height: 100%;
        width: 30%;

    }
    & #div1{
        background-color: aqua;
    }
    & #div2{
        background-color: rgb(255, 0, 242);
    }
    & #div3{
        background-color: rgb(255, 196, 0);
    }



}

.p_liste_user{
    height: 50px;
    @extend %displayflex;
    background-color: rgb(194, 194, 194);
    border: solid 1px grey;
}
.p_liste_user_connecte{
    height: 50px;
    @extend %displayflex;
    background-color: rgb(50, 255, 77);
    border: solid 1px grey;
    color: white;
}